<?php 
	//customazation data
	$siteName = "DCIM Name";
	$pageTitle = "DCIM Title";
	$versionNote = "note";

	//DB connect
	$db_host = "localhost";
	$db_user = "root";
	$db_password = "superScurePswd1";
	$database = "dcimdb";
?>