<?php
	//DB connect
	$config_db_host = "localhost";
	$config_database = "dcimdb";
	//Write Access: - For full access use UseHigherDBAdminUser()
	//	GRANT FILE, CREATE TEMPORARY TABLES ON *.*
	//	GRANT SELECT, INSERT, UPDATE, DELETE ON `$config_database`.*
	$config_db_user = "user";
	$config_db_password = "password123";
	//Full access for truncating, dropping and updating DB
	$config_db_admin_user = "root";
	$config_db_admin_password = "superScurePswd1";
	
	//salt for user passwords
	$config_userPasswordSalt = "DCIM_PasSalt-shouldBeUsingPassword_Hash()";
	
	//--config verification data - this must match the DB
	$config_dbVersion = 3;//this must match the state and value in the DB (dcim_config.dbversion)
	//--General code versioning - should be updated with every build (version numbers: here, bellow in defaults, DB config version note, readme)
	$config_codeVersion = "2.1";
	
	
	////// All config variables below here are defaults only - they will be overwritten by the settings in the dcim_config table
	
	
	//True if this is a demo/non production site and data - when false a DB reset/wipe option exists in _dbControl.php
	$config_demoSiteEnabled = false;
	
	//Name of this web site - show at top of page near logo
	$config_appName = "DCIM Name";
	//Prefix appended to the title of each page
	$config_pageTitle = "DCIM Title";
	//note shown under the site name
	$config_versionNote = "note - v2.1 - Upgraded DB and power systems";
	//durration of user and password cookies - extended on each page refresh
	$config_loginCookieDurration = 8*60*60;//8 hours
	$config_loginCookieDurrationOniPad = 2*60*60;//2 hours
	
	//if false hides badges from customer page and audits page
	$config_badgesEnabled = true;
	//if false hides subnets & vlans from customer page and device page (including switch overlay) and audits page
	$config_subnetsEnabled = true;
	//if false hides qa fields and buttons
	$config_qaEnabled = true;
?>