<?php
	//custom functions with sample code override
	class CustomFunctions extends DCIMCustomFunctions
	{
		public static function CreateInternalLink($hNo, $cNo, $includeOldLink)
		{//these are internal links for cust and device pages to other applications
			$result = "<a href='https://internalApp.com?search=$hNo' target='_blank' class='internalLink'>(main system)</a>\n";
			if($includeOldLink)
				$result .= "<a href='https://internalApp.com?cno=$cNo&search=$hNo' target='_blank' class='internalLink'>(Old system)</a>\n";
			return $result;
		}
		
		public static function CreateInternalInventoryLink($asset)
		{//these are internal links for more info about the asset number
			if(is_numeric($asset))
				return "<a href='https://internalApp.com?search=$asset' target='_blank' class='internalLink'>$asset</a>\n";
			else
				return MakeHTMLSafe($asset);
		}
		
		public static function RemotePowerPanelAuditHelpPopup()
		{
			//Power Audit Creator can be found in a seperate repo here http://github.com/freshprogrammer/ExcelController/releases
			
			$date = date("Y-m-d");
			$result = "<span class='helpText'><span class='helpHeading'>Remote Power Panel Audit Creator</span><BR>
After a DC power audit has been done and the data has all been updated in DCIM a RPP Audit workbook can be created.<BR> 
Simply export the power data then run the RPP Audit creation tool. 
The tool will prompt for a data file and a template file and then create the new workbook for you. 
From there you can easily save it with an appropriate name and upoad.<BR>
<BR>
<a href='#' onClick='var input= prompt(\"Please enter a date\", \"$date\");
					if(input!=null)parent.location=\"./lib/createReport.php?report=PowerHistory&date=\"+input;'>Export All Power Readings</a><BR>
<a href='./files/RPP Audit Creator.exe'>RPP Audit Creation Tool</a><BR>
<a href='./files/RPP Audit - Template.xlsx'>Template File</a>
</span>";
			return $result;
		}
	}
?>
